body {

    color: #000000;
  }

  .jumbotron {
    background-image: url("../images/leaving_ca_pic.png");
    background-size: 100% 100%;
    text-align: right;
  }

#mapid {
  width: 100%;
  height: 500px;
  padding: 0;
  margin: 0;
}

#us-map{
  display: block;
  width: 100%;
  height: 500px;
}
/* #circle60:hover */
#g5 > path:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
#info-box {
  display: block;
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 200px;
  left: 50%;
  margin-left: -100px;
  background-color: #ffffff;
  color: #002868;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}